<tr>
  <td><%= register.course.course_name%></td>
  <td><%= register.semester.semester_name %></td>
  <td><%= register.user.email %></td>
  <td><%= register.cgpa %></td>
  <% if current_user.admin %>
      <td><%= link_to 'Edit', edit_register_path(register) %></td>
      <td><%= link_to 'Destroy', register, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <%end%>
</tr>