<p id="notice"><%= notice %></p>



<% if current_user.admin %>
    <h1>All the Registrations listed below:</h1>
    <%= form_tag registers_path, method: 'get',remote: true do %>
        <p>
          <%= text_field_tag :search, params[:search]%>
          <%= submit_tag "Search",name: nil %>
        </p>
    <% end %>
<% else %>
    <h1>Your Registered courses are listed below:</h1>
<% end %>


<table id="register_list">
  <thead>
    <tr>
      <th>Course name</th>
      <th>Registered in</th>
      <th>Registered by</th>
      <th>CGPA</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render(@registers)%>
  </tbody>
</table>

<br>

<%= link_to 'Register new courses', new_register_path %>
